<!-- your html code here -->
<!-- <p>Hello, I'm the first_heading.html</p> -->

<style>
p{
    font-size: 1.5em;
}
</style>

<div class="bg-light" ">
    <div class="row  p-5">
        <div class="col-8 ps-10">
            <h4 style="font-size: 3vw;">This First Heading <span class="text-secondary">Will Catch Your Eye</span></h4>
            <p class="text-secondary">
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis 
                 euismod semper. Praesent commodo cursus magna,
                 vel scelerisque nisl consectetur.Fusce dapibus, tellus ac cursus commodo.
            </p>
                 
          
        </div>
        <div class="col-4">
            <img src="./assets/img/1.jpg" alt="..." 
            class="rounded-circle"
            height="350px"
            >
        </div>
    </div>
</div>