<!-- your html code here -->

<div class="row p-5">
    <h1>Portfolio</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam</p>
</div>  
<div class="row p-5">
    
    <div class="col p-2">
        <div class="card border-0">
            <img src="../assets/img/big-project-image.png" class="card-img-top" alt="Example image"/>
            <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam</p>
            </div>
        </div>
    </div>
    <div class="col p-2">
        <div class="card border-0">
            <img src="../assets/img/big-project-image.png" class="card-img-top" alt="Example image"/>
            <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam</p>
            </div>
        </div>
    </div>
    <div class="col p-2">
        <div class="card border-0">
            <img src="../assets/img/big-project-image.png" class="card-img-top" alt="Example image"/>
            <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam</p>
            </div>
        </div>
    </div>
      
</div>